. {
    -fx-border-style: solid;
}

.left-border {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 10;
}

.right-border {
    -fx-border-style: solid;
    -fx-border-width: 0 10 0 0;
}

.top-border {
    -fx-border-style: solid;
    -fx-border-width: 10 0 0 0;
}

.bottom-border {
    -fx-border-style: solid;
    -fx-border-width: 0 0 10 0;
}

.left-top-border {
    -fx-border-style: solid;
    -fx-border-width: 10 0 0 10;
}

.left-bottom-border {
    -fx-border-style: solid;
    -fx-border-width: 0 0 10 10;
}

.right-top-border {
    -fx-border-style: solid;
    -fx-border-width: 10 10 0 0;
}

.right-bottom-border {
    -fx-border-style: solid;
    -fx-border-width: 0 10 10 0;
}

.top-bottom-border {
    -fx-border-style: solid;
    -fx-border-width: 10 0 10 0;
}

.left-right-border {
    -fx-border-style: solid;
    -fx-border-width: 0 10 0 10;
}
.square {
    -fx-border-style: solid;
    -fx-border-color: red;
}


